/node_modules/
/lib/
/test/
custom-elements.json
# top level source
hello-world-lit.js
hello-world-lit.js.map
hello-world-lit.d.ts
hello-world-lit.d.ts.map
# only generated for size check
hello-world-lit.bundled.js